<nav class="row header-height navbar navbar-light bg-light">
  <div class="container-fluid">
    <img src="assets/img/logo.png" width="40" height="40" class="ms-2">
    <span
      class="ms-3 h4 my-auto me-auto">{{ 'App.Name' | translate | uppercase }}</span>

    <div *ngIf="sessionData" class=" me-3">
      <select [formControl]="roleContextControl" class="d-flex form-select">
        <option *ngFor="let role of sessionData.roles" [ngValue]="roleToId(role)">
          {{ getRoleLabelKey(role) | translate: role }}
        </option>
      </select>
    </div>

    <div class="">
      <select [formControl]="languageControl" class="d-flex form-select">
        <option [value]="AppLanguage.POLISH">Polski</option>
        <option [value]="AppLanguage.ENGLISH">English</option>
      </select>
    </div>
  </div>
</nav>
