<div class="container">
  <div class="row mt-4 mb-2">
    <h1 class="display-6">{{ 'Committee.Topics.Header' | translate }}</h1>
  </div>

  <div class="row py-3">
    <h5 class="mt-3 mb-3">{{ 'Committee.Topics.Label.ForVerification' | translate }}</h5>
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'Committee.Topics.Table.Topic' | translate }}</th>
        <th scope="col">{{ 'Committee.Topics.Table.Supervisor' | translate }}</th>
        <th scope="col">{{ 'Committee.Topics.Table.Actions' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let topic of topicsApprovedByCoordinator">
        <th scope="row">{{ topic.id }}</th>
        <td>{{ topic.name }}</td>
        <td>TBD</td>
        <td>
          <button type="button" class="float-end btn btn-primary">
            {{ 'Committee.Topics.Table.Review' | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row py-3">
    <h5 class="mt-3 mb-3">{{ 'Committee.Topics.Label.Verified' | translate }}</h5>
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'Committee.Topics.Table.Topic' | translate }}</th>
        <th scope="col">{{ 'Committee.Topics.Table.Supervisor' | translate }}</th>
        <th scope="col">{{ 'Committee.Topics.Table.Actions' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let topic of topicsApprovedByCoordinator">
        <th scope="row">{{ topic.id }}</th>
        <td>{{ topic.name }}</td>
        <td>TBD</td>
        <td>
          <button type="button" class="float-end btn btn-primary">
            {{ 'Committee.Topics.Table.Modify' | translate }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
