<div class="container">
  <div class="row mt-4 mb-2">
    <div class="col-12">
      <h1 class="display-6">{{ 'Lecturer.ManageReservation.Header' | translate }}</h1>
    </div>
  </div>

  <div class="row py-3">
    <form *ngIf="form" [formGroup]="form">
      <fieldset disabled>
        <div class="mb-3">
          <label for="thesisTopic" class="form-label">{{ 'Lecturer.ManageReservation.ThesisTopic' | translate }}</label>
          <input type="text" formControlName="thesisTopic" id="thesisTopic" class="form-control">
        </div>
        <div class="mb-3">
          <label for="numberOfStudents"
                 class="form-label">{{ 'Lecturer.ManageReservation.NumberOfStudents' | translate }}</label>
          <input type="text" formControlName="numberOfStudents" id="numberOfStudents" class="form-control">
        </div>
        <div class="mb-4">
          <label for="description" class="form-label">{{ 'Lecturer.ManageReservation.Description' | translate }}</label>
          <textarea formControlName="description" id="description" class="form-control"></textarea>
        </div>
      </fieldset>
    </form>
  </div>


  <div class="row my-3">

    <div class="col-12">
      <div class="table-header bg-dark">
        <table class="table">
          <thead class="table-dark">
          <tr>
            <th style="width: 5%" scope="col">#</th>
            <th style="width: 55%" scope="col">{{ 'Table.Students' | translate }}</th>
            <th style="width: 20%" scope="col">{{ 'Table.Status' | translate }}</th>
            <th style="width: auto" class="action-col" scope="col">{{ 'Table.Actions' | translate }}</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="table-body">
        <table class="table">
          <tbody>
          <tr *ngFor="let item of reservations">
            <th style="width: 5%" scope="row">{{ item.id }}</th>
            <td style="width: 55%">Jacek Wernikowski, Janina Janinowska, Adam Adamski</td>
            <td style="width: 20%">{{ getStatusTranslationKey(item) | translate }}</td>
            <td style="width: auto" class="action-col">
              <button type="button"
                      class="btn btn-primary"
                      [disabled]="!isApproveActionAvailable(item)"
                      (click)="approveReservation(item)">
                {{ 'Button.Approve' | translate }}
              </button>
              <button type="button"
                      class="btn btn-primary"
                      [disabled]="!isRejectActionAvailable(item)"
                      (click)="rejectReservation(item)">
                {{ 'Button.Reject' | translate }}
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!reservations.length" class="d-flex justify-content-center">
          {{ 'Table.NoData' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
