<div class="container">
  <div class="row my-4">
    <h1 class="display-6">{{ 'Committee.TopicReview.Header' | translate }}</h1>
  </div>

  <div class="row py-3">
    <form *ngIf="form" [formGroup]="form">
      <fieldset disabled>
        <div class="mb-3">
          <label for="thesisTopic" class="form-label">{{ 'Committee.TopicReview.ThesisTopic' | translate }}</label>
          <input type="text" formControlName="thesisTopic" id="thesisTopic" class="form-control">
        </div>
        <div class="mb-3">
          <label for="supervisor" class="form-label">{{ 'Committee.TopicReview.Supervisor' | translate }}</label>
          <input type="text" formControlName="supervisor" id="supervisor" class="form-control">
        </div>
        <div class="mb-3">
          <label for="numberOfStudents"
                 class="form-label">{{ 'Committee.TopicReview.NumberOfStudents' | translate }}</label>
          <input type="text" formControlName="numberOfStudents" id="numberOfStudents" class="form-control">
        </div>
        <div class="mb-4">
          <label for="description" class="form-label">{{ 'Committee.TopicReview.Description' | translate }}</label>
          <textarea rows="5" formControlName="description" id="description" class="form-control"></textarea>
        </div>
      </fieldset>
      <div class="gap-2 d-flex justify-content-end">
        <button routerLink="../../" type="submit" class="btn btn-primary">
          {{ 'Button.Cancel' | translate }}
        </button>
        <button (click)="reject()" type="submit" class="btn btn-primary">
          {{ 'Button.Reject' | translate }}
        </button>
        <button (click)="approve()" type="submit" class="btn btn-success">
          {{ 'Button.Approve' | translate }}
        </button>
      </div>
    </form>
  </div>

</div>
