<div class="container">
  <div class="row mt-4 mb-2">
    <h1 class="display-6">{{ 'ThesisDetails.Header' | translate }}</h1>
  </div>

  <div *ngIf="form && thesis" class="row py-3">
    <form [formGroup]="form">
      <fieldset disabled>
        <div class="mb-3">
          <label for="topic" class="form-label">{{ 'Form.Label.ThesisTopic' | translate }}</label>
          <input type="text" formControlName="topic" id="topic" class="form-control">
        </div>
        <div class="mb-3">
          <label for="supervisorName" class="form-label">{{ 'Form.Label.Supervisor' | translate }}</label>
          <input type="text" formControlName="supervisorName" id="supervisorName" class="form-control">
        </div>
        <div class="mb-3">
          <label for="diplomaSession" class="form-label">{{ 'Form.Label.DiplomaSession' | translate }}</label>
          <input type="text" formControlName="diplomaSession" id="diplomaSession" class="form-control">
        </div>
        <div class="mb-3">
          <label for="numberOfStudents" class="form-label">{{ 'Form.Label.NumberOfStudents' | translate }}</label>
          <input type="number" formControlName="numberOfStudents" id="numberOfStudents" class="form-control">
        </div>
        <div class="mb-4">
          <label for="description" class="form-label">{{ 'Form.Label.Description' | translate }}</label>
          <textarea formControlName="description" id="description" class="form-control"></textarea>
        </div>
      </fieldset>
      <div class="gap-2 d-flex">
        <h6 class="my-auto me-auto">
          {{ 'Form.Label.Status' | translate }}:
          <b>{{ TranslationKeys.forThesisStatus(thesis.status) | translate }}</b>
        </h6>
      </div>
    </form>
  </div>

</div>
